@import url("https://fonts.googleapis.com/css2?family=raleway:wght@300;400;500;600;700;800;900&display=swap");


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/**line-height: 1;**/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** recup 


:root {
    --main-accent-color: #0065fc;
    --main-accent-color-rgba: rgba(101, 252, 255, .5);
    --light-accent-color: #DEEBFF;
    --bg-color: #F2F2F2;
    --light-grey: #d9d9d9;
    --primary-text-color: #000;
}

**/



/** WILDCARD**/

* {
    font-family: "raleway", "sans-serif";
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}



main {
    padding-left : 2.5rem;
    padding-right: 2.5rem;
}

li {
    list-style-type: none;
}

body {
    
}

/** HEADER **/


#logo {
    margin-right: auto;
    padding-left: 2rem;
}

#primary-navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.sub-nav  {
    display: flex;
}

.sub-nav a:hover {
    border-top: 1px solid blue;
}

.sub-nav-signup {
    font-weight: bold;
    color: #0065fc;    
}

#primary-navigation a {
    padding: 0 2.5rem;
}

#primary-navigation a:hover {
   /** border-top: 3px solid #0065fc; **/
}

/** HEADER MEDIA QUERIES **/

@media (max-width: 768px) {
    .sub-nav {
        order: 1;
        flex-basis: 100%;
    }
    .sub-nav a {
        flex-basis: 50%;
        text-align: center;
        border-bottom: 2px solid lightgrey;
    }
    .sub-nav a:hover{
        border-bottom: 2px solid #0065fc;
        border-top: 0px;
    }

}


/** RECHERCHE **/



.slogan-header {
    line-height: 0.3rem;
}
  
  .slogan-header-sub {
    font-size: 93%;
    padding-bottom : 0.8rem;
}
  
  /*.search-block-wrapper {
    padding-bottom : 1rem;
    
  }*/
  
  .search-filter {
    display: flex;
    align-items: center;
    margin: auto;
    padding-top : 1.5rem;
}
  
  
  .search-block-info {
    display: flex;  
    align-items: center;
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
    margin-left: 1rem;
}
  
  .search-block_form-wrapper i, input, location {
    padding: 1.2rem 1.2rem;
    border: none;
    transition: transform 200ms;
  
}
  
  .search-form button {
    opacity : 0.9;
}
  
  .search-form button:hover  {
     opacity : 1;
     transform : scale(1.02);
}
  
  .search-form  {
    display : flex;
    flex-wrap:nowrap;
    align-items: center;
}

  .search-block_form-wrapper {

    display: flex;
    border: 1px solid lightgrey;
    border-radius: 1rem 1rem 1rem 1rem;


  }
  
  .search-block_form-wrapper i {
    background-color: lightgrey;
    border-radius: 1rem 0 0 1rem;
    }
  
  .location {
      font-size: 0.8rem;
 
}
    
  
  .search-block_form-wrapper button {
    background-color: #0065FC;
    border-radius: 0rem 1rem 1rem 0rem;
    padding: 1rem 1rem;
    border: none;
}
  
  .search-block_form-wrapper input {
    font-weight: bold;
    color: black;
}
  
  .fas.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    color: blue;
    background-color: #deebff;
    padding : 1rem;
    border-radius: 50%;
    border: none;
    margin: auto;
}

.fas.fa-info {
    padding: 0.3rem;
    border: 1px solid grey;
    border-radius: 100%;
    margin-right: 1rem;    
}

.search-filter button {
    
    background-color: white;
}


/*button.btn-filter span {
    padding-left : 0.5rem;
    font-weight: bold;
}*/

button.btn-filter {
    border-radius : 2rem;
    border: 1px solid lightgrey;
    padding: 0px;
    padding-right: 2px;
    margin: 1rem;
}

.txt-btn-search {

    padding: 1.2rem;
    font-weight: bold;

}


/* HEBERGEMENTS */
  
.hebergements-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 40px;
}

#hebergements-block {
    background-color: lightgrey;
    display: grid;
    /*grid-template-rows:  repeat(3,1fr);*/
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 1rem;
    }


.hebergements-title {
    display: grid;
    grid-column: 1 / 4;
    align-items: center;
    padding-left: 1rem;
    margin-top: 1.8rem;
}

.seemore {

    padding-left: 2rem;
    padding-top : 1rem;
    padding-bottom: 2rem;
}

#populaire-block {
    /*display: grid;*/
    background-color: lightgrey;
    border-radius: 1rem;
}

.populaire-title {
    display:flex;
    align-items: center;
    margin-top: 1.8rem;
    padding-left: 1rem;
    padding-bottom: 0.67rem;
}
.result-heberg {
    background-color: white;
    border-radius: 1rem 1rem 1rem 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    height: auto;
    line-height: 0.5rem;
    box-shadow: 0 0 2em lightgrey;
}

.result-heberg p {
    padding-left: 1rem;
}

.heberg-thumbnail {
    padding: 0.3rem;
    border-radius: 1rem 1rem 0 0;
    height: 10rem;
    width: 100%;
}



.result-populaire {
    display: flex;
    flex-direction: row;
    font-size: 90%;
    background-color: white;
    border-radius: 1rem;
    margin: 0rem 1rem 0rem 1rem;
    align-items: center;
    margin-bottom: 2rem;
}

.result-populaire p {

    padding-left: 1rem;

}

.heberg-thumbnail-pop {
    padding: 0.3rem;
    border-radius: 1rem 0rem 0rem 1rem;
    height: 10rem;
    width: 10rem;
}





#activites-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap : 2rem;
}


.activites-result-long {
    grid-column : 1 / 2;
    grid-row: 2/5;
    width: auto;
    border-radius: 1rem 1rem 1rem 1rem;
    height: max-content;
    box-shadow: 0 0 2em lightgrey;
}



.activites-result-medium {
    grid-column: 2/3;
    grid-row: 2/4;
    height: max-content;
    box-shadow: 0 0 2em lightgrey;
    border-radius: 1rem 1rem 1rem 1rem;

}

.activites-result-small {
    grid-column: 2/3;
    grid-row:3/5;
    height: max-content;
    box-shadow: 0 0 2em lightgrey;
    border-radius: 1rem 1rem 1rem 1rem;

    }

.activites-result-long2 {
    grid-column : 3/4;
    grid-row: 2/5;
    height: max-content;
    width: auto;
    box-shadow: 0 0 2em lightgrey;
    border-radius: 1rem 1rem 1rem 1rem;
}

.activites-result-medium2 {
    grid-column: 4/5;
    grid-row: 2/2;
    height: max-content;
    box-shadow: 0 0 2em lightgrey;
    border-radius: 1rem 1rem 1rem 1rem;

}

.activites-result-medium3 {
    grid-column: 4/5;
    grid-row: 3/3;
    height: max-content;
    box-shadow: 0 0 2em lightgrey;
    border-radius: 1rem 1rem 1rem 1rem;

}



.heberg-thumbnail-activites {
    /*padding: 0.3rem;*/
    border-radius: 1rem 1rem 0 0;
    height: 30vh;
    width: 100%;
}

.heberg-thumbnail-activites-l {
    border-radius: 1rem 1rem 0 0;
    height:70.4vh;
    width: 100%;

}

.heberg-thumbnail-title {
    align-items: center;
    padding-left: 1rem;
}


#footer-block {
    display: grid;
    grid-column: 1fr 1fr 1fr;
    background-color: lightgrey;
    margin: auto;
}

#a-propos {
    grid-column-start: 1;
}

#nos-heberg {
    grid-column-start: 2;
}

#assistance {
    grid-column-start: 3;
}

/** HEBERGEMENT MEDIA QUERIES **/

@media screen and (max-width: 768px) {

    .hebergements-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    #hebergements-block {
        display: flex;
        flex-direction: column;
        order: 2;
        width: 100%;
        margin-top : 1rem;
        background-color: white;
    
    }
    
    
    .populaire-block {
        order: 1;
    }
    
    
    .main {
        border: none;
    }
    
    
    #activites-block {
        display : flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 3rem;
    }
    
    }





/** FIN HEBERGEMENT MEDIA QUERIES **/